@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Rubik&display=swap');

:root {
    --clr-main: #5F6F94;
    --clr-main-light: #6096B4;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

@import 'header.scss';
@import 'home.scss';
@import 'carrito.scss';
